    <section class="p-y-80 bg-secondary no-border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="card card-lg lotro-featured-card">
              <div class="card-img">
                <a href="{{url}}">
                  <img src="{{image}}" class="card-img-top" alt="{{title}}">
                </a>
                <div class="{{categoryClass}}  badge">{{category}}</div>
              </div>
              <div class="card-block">
                <h3 class="card-title">
                  <a href="{{url}}">{{title}}</a>
                </h3>
                <div class="card-meta">
                  <span><i class="fa fa-clock-o"></i> {{date}}</span>
                  <span><i class="fa fa-user"></i> {{author}}</span>
                  <span><i class="fa fa-comment-o"></i> <span data-cusdis-count-page-id="{{slug}}">0</span></span>
                </div>
                <p class="card-text">{{excerpt}}</p>
                <a href="{{url}}" class="btn btn-primary btn-rounded btn-sm">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="widget widget-sidebar">
              <h5 class="widget-title"><i class="fa fa-compass m-r-5"></i> Quick Navigation</h5>
              <ul class="lotro-quick-nav">
                <li><a href="guides"><i class="fa fa-book"></i> All Guides</a></li>
                <li><a href="news"><i class="fa fa-newspaper-o"></i> Latest News</a></li>
                <li><a href="guides#class-guides"><i class="fa fa-shield"></i> Class Builds</a></li>
                <li><a href="guides#crafting"><i class="fa fa-wrench"></i> Crafting</a></li>
                <li><a href="guides#instances"><i class="fa fa-users"></i> Instances &amp; Raids</a></li>
              </ul>
            </div>
            <div class="widget widget-sidebar m-t-25">
              <h5 class="widget-title"><i class="fa fa-info-circle m-r-5"></i> About This Site</h5>
              <p class="small">A community-driven resource for LOTRO players of all levels. From beginner tips to endgame raid strategies, we've got you covered.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
