                <div class="col-12 col-sm-6 col-md-3">
                  <div class="card card-widget">
                    <div class="card-img">
                      <a href="{{url}}">
                        <img src="{{image}}" alt="{{title}}">
                      </a>
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">
                        <a href="{{url}}">{{title}}</a>
                      </h4>
                      <div class="card-meta">
                        <span><i class="fa fa-clock-o"></i> {{date}}</span>
                      </div>
                      <p>{{excerpt}}</p>
                    </div>
                  </div>
                </div>
