    <section class="p-y-80">
      <div class="container text-center">
        <div style="max-width:560px;margin:0 auto">
          <h1 style="font-size:96px;font-weight:700;margin-bottom:0;color:#c0392b">404</h1>
          <h2 style="margin-bottom:16px">Page Not Found</h2>
          <p class="text-muted" style="font-size:18px;margin-bottom:32px">The road goes ever on, but this path leads nowhere. The page you're looking for doesn't exist or has been moved.</p>
          <div>
            <a class="btn btn-primary btn-rounded btn-lg m-b-10" href="./"><i class="fa fa-home m-r-5"></i> Back to Home</a>
            <a class="btn btn-secondary btn-rounded btn-lg m-b-10 m-l-10" href="./guides"><i class="fa fa-book m-r-5"></i> Browse Guides</a>
          </div>
          <hr style="margin:40px 0">
          <p class="text-muted">Looking for something specific?</p>
          <div class="row" style="margin-top:20px">
            <div class="col-sm-4 m-b-15"><a href="./items" class="btn btn-default btn-block"><i class="fa fa-database m-r-5"></i> Items</a></div>
            <div class="col-sm-4 m-b-15"><a href="./deeds" class="btn btn-default btn-block"><i class="fa fa-trophy m-r-5"></i> Deeds</a></div>
            <div class="col-sm-4 m-b-15"><a href="./map" class="btn btn-default btn-block"><i class="fa fa-map-marker m-r-5"></i> Map</a></div>
          </div>
        </div>
      </div>
    </section>
