<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{title}}</title>
    <meta name="description" content="{{metaDescription}}">
    <!-- Open Graph meta tags for Facebook sharing -->
    <meta property="og:url" content="{{ogUrl}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{metaDescription}}" />
    <meta property="og:image" content="{{ogImage}}" />
    <!-- Google Ad Sense -->
    <meta name="google-adsense-account" content="{{googleAdsenseAccount}}">
    <!-- stylesheet -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link href="./{{siteRoot}}plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./{{siteRoot}}plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="./{{siteRoot}}plugins/animate/animate.min.css" rel="stylesheet">
    <!-- theme stylesheet -->
    <link href="./{{siteRoot}}css/theme.min.css" rel="stylesheet">
    <link href="./{{siteRoot}}css/custom.css" rel="stylesheet">
    <link href="./{{siteRoot}}css/lotro.css" rel="stylesheet">
  </head>
  <body class="{{bodyClass}}">
    <!-- header -->
    <header id="header">
      <div class="container">
        <div class="navbar-backdrop">
          <div class="navbar">
            <div class="navbar-left">
              <a class="navbar-toggle">
                <i class="fa fa-bars"></i>
              </a>
              <a href="./{{siteRoot}}index.html" class="logo">
                <span class="lotro-logo-text">LOTRO Guides</span>
              </a>
              <nav class="nav">
                <ul>
                  <li class="{{currentHome}}">
                    <a href="./{{siteRoot}}index.html">Home</a>
                  </li>
                  <li class="has-dropdown {{currentGuides}}">
                    <a href="./{{siteRoot}}guides.html">Guides</a>
                    <ul>
                      <li><a href="./{{siteRoot}}guides.html">All Guides</a></li>
                      {{guideNavItems}}
                    </ul>
                  </li>
                  <li class="has-dropdown {{currentNews}}">
                    <a href="./{{siteRoot}}news.html">News</a>
                    <ul>
                      <li><a href="./{{siteRoot}}news.html">All News</a></li>
                      {{newsNavItems}}
                    </ul>
                  </li>
                  <li class="{{currentItems}}">
                    <a href="./{{siteRoot}}items.html">Items</a>
                  </li>
                  <li class="{{currentMobs}}">
                    <a href="./{{siteRoot}}mobs.html">Mobs</a>
                  </li>
                  <li class="{{currentAbout}}">
                    <a href="./{{siteRoot}}about.html">About</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="nav navbar-right">
              <ul>
                <li>
                  <a data-toggle="search">
                    <i class="fa fa-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navbar-search">
          <div class="container">
            <form method="get" action="./{{siteRoot}}items.html" id="navbar-search-form">
              <input type="text" name="q" class="form-control" placeholder="Search items..." autocomplete="off">
              <i class="fa fa-times close"></i>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!-- main -->
    {{content}}
    <!-- footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <h4 class="footer-title">About LOTRO Guides</h4>
            <p>A fan-created resource for Lord of the Rings Online players. We cover class builds, crafting guides, instance walkthroughs, and the latest LOTRO news. Made by the community, for the community.</p>
            <p>This is a fan site and is not affiliated with or endorsed by Standing Stone Games or Middle-earth Enterprises.</p>
          </div>
          <div class="col-sm-12 col-md-3">
            <h4 class="footer-title">Quick Links</h4>
            <div class="row">
              <div class="col">
                <ul>
                  <li><a href="./{{siteRoot}}guides.html">Guides</a></li>
                  <li><a href="./{{siteRoot}}news.html">News</a></li>
                  <li><a href="./{{siteRoot}}items.html">Item Database</a></li>
                  <li><a href="./{{siteRoot}}mobs.html">Mob Database</a></li>
                  <li><a href="./{{siteRoot}}about.html">About</a></li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li><a href="./{{siteRoot}}guides.html#class-guides">Class Builds</a></li>
                  <li><a href="./{{siteRoot}}guides.html#crafting">Crafting</a></li>
                  <li><a href="./{{siteRoot}}guides.html#instances">Instances</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <h4 class="footer-title">Community</h4>
            <p>Join fellow LOTRO adventurers across Middle-earth. Share your knowledge, ask questions, and help new players find their way.</p>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-social">
            <a href="#" data-toggle="tooltip" title="Discord">
              <i class="fa fa-comments"></i>
            </a>
            <a href="#" data-toggle="tooltip" title="Reddit">
              <i class="fa fa-reddit"></i>
            </a>
            <a href="#" data-toggle="tooltip" title="YouTube">
              <i class="fa fa-youtube"></i>
            </a>
            <a href="#" data-toggle="tooltip" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <p>Copyright &copy; {{year}} LOTRO Guides. A LOTRO fan site. Not affiliated with Standing Stone Games.</p>
        </div>
      </div>
    </footer>
    <!-- Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- scripts -->
    <script src="./{{siteRoot}}plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="./{{siteRoot}}plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="./{{siteRoot}}js/theme.min.js"></script>
  </body>
</html>
