    <section class="breadcrumbs">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="../">Home</a></li>
          <li><a href="../instances">Instances</a></li>
          <li class="active">{{instanceName}}</li>
        </ol>
      </div>
    </section>
    <section class="p-y-80">
      <div class="container">
        <div class="heading">
          <i class="fa fa-fort-awesome"></i>
          <h2>{{instanceName}}</h2>
        </div>

        <!-- Instance Info Card -->
        <div class="row m-b-30">
          <div class="col-md-8 col-md-offset-2">
            <div class="instance-info-card">
              <table class="table table-condensed instance-meta-table">
                <tbody>
                  <tr><th><i class="fa fa-users"></i> Group Size</th><td>{{groupType}}</td></tr>
                  <tr><th><i class="fa fa-layer-group"></i> Tiers</th><td>{{tiers}}</td></tr>
                  {{scalingRow}}
                  <tr><th><i class="fa fa-crosshairs"></i> Mobs</th><td>{{mobCount}}</td></tr>
                  {{instanceIdRow}}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Related Content Links -->
        {{relatedContent}}

        <!-- Loot Table -->
        {{lootSection}}

        <!-- Mob / Boss Listing -->
        <div class="m-b-30">
          <h3 class="instance-section-title"><i class="fa fa-crosshairs"></i> Mobs &amp; Bosses</h3>
          <p class="text-muted">All mobs found in this instance with their skills, damage types, and effects. Skill data from <a href="https://github.com/LotroCompanion" class="text-muted" style="text-decoration:underline">LotRO Companion</a>.</p>
        </div>

        <div class="lotro-loot-accordion">
        {{mobAccordions}}
        </div>

      </div>
    </section>
