    <section class="breadcrumbs">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">{{categoryName}}</li>
        </ol>
      </div>
    </section>
    <section class="p-y-80">
      <div class="container">
        <div class="heading">
          <i class="fa {{categoryIcon}}"></i>
          <h2>{{categoryName}}</h2>
        </div>
        {{quickNav}}
        <div class="row">
          {{posts}}
        </div>
      </div>
    </section>
