    <section class="breadcrumbs">
      <div class="container">
        <ol class="breadcrumb" id="map-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Interactive Map</li>
        </ol>
      </div>
    </section>
    <section class="lotro-map-section">
      <div class="container-fluid lotro-map-container">

        <!-- The Map -->
        <div id="lotro-map" class="lotro-map"></div>

        <!-- Loading Overlay -->
        <div id="map-loading" class="lotro-map-loading">
          <div class="lotro-map-loading-inner">
            <i class="fa fa-compass fa-spin fa-2x"></i>
            <p>Loading Middle-earth...</p>
          </div>
        </div>

      </div>
    </section>
