    <section class="breadcrumbs">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="./">Home</a></li>
          <li class="active">Mob Database</li>
        </ol>
      </div>
    </section>
    <section class="p-y-80">
      <div class="container">
        <div class="heading">
          <i class="fa fa-crosshairs"></i>
          <h2>Mob Database</h2>
          <p>Browse {{mobCount}} enemies from the LotRO Companion database. Click any mob to view full details.</p>
        </div>

        <!-- Filters -->
        <div class="row m-b-30">
          <div class="col-sm-6 col-md-4 m-b-15">
            <label class="item-filter-label">Genus</label>
            <select id="filter-genus" class="form-control item-filter-select">
              <option value="">All Genera</option>
              <option value="Ancient Evil">Ancient Evil</option>
              <option value="Beast">Beast</option>
              <option value="Creatures of Nature">Creatures of Nature</option>
              <option value="Dragon-kind">Dragon-kind</option>
              <option value="Giant-kind">Giant-kind</option>
              <option value="Man">Man</option>
              <option value="Orc-kind">Orc-kind</option>
              <option value="Spiders and Insects">Spiders and Insects</option>
              <option value="The Dead">The Dead</option>
              <option value="Troll-kind">Troll-kind</option>
              <option value="Unseen">Unseen</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-4 m-b-15">
            <label class="item-filter-label">Species</label>
            <select id="filter-species" class="form-control item-filter-select">
              <option value="">All Species</option>
              <option value="Angmarim">Angmarim</option>
              <option value="Brigand">Brigand</option>
              <option value="Drake">Drake</option>
              <option value="Dunlending">Dunlending</option>
              <option value="Easterling">Easterling</option>
              <option value="Goblin">Goblin</option>
              <option value="Half-orc">Half-orc</option>
              <option value="Haradrim">Haradrim</option>
              <option value="Morroval">Morroval</option>
              <option value="Nameless">Nameless</option>
              <option value="Orc">Orc</option>
              <option value="Shade">Shade</option>
              <option value="Spider">Spider</option>
              <option value="Troll">Troll</option>
              <option value="Uruk">Uruk</option>
              <option value="Warg">Warg</option>
              <option value="Wight">Wight</option>
              <option value="Wolf">Wolf</option>
              <option value="Worm">Worm</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-4 m-b-15">
            <label class="item-filter-label">Area</label>
            <select id="filter-area" class="form-control item-filter-select">
              <option value="">All Areas</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-4 m-b-15">
            <label class="item-filter-label">&nbsp;</label>
            <button id="filter-reset" class="btn btn-sm btn-default btn-block">Reset Filters</button>
          </div>
        </div>

        <!-- Mobs Table -->
        <div class="table-responsive">
          <table id="mobs-table" class="table table-striped table-hover" style="width:100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Genus</th>
                <th>Species</th>
                <th>Area</th>
                <th>Spawn Map</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </section>

    <!-- Mob Detail Modal -->
    <div class="modal fade" id="mob-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content item-modal-content">
          <div class="modal-header item-modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title" id="mob-modal-title"></h4>
          </div>
          <div class="modal-body" id="mob-modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
